In [4]:
import pandas as pd

mta = pd.read_csv('mta_clean.zip', parse_dates=['date', 'timestamp'], low_memory=False)

In [33]:
mta.groupby(['ca','unit','station']).sum().sort_values(by='total',ascending=False).head(10)

                              entries      exits      total
ca    unit station
PTH22 R540 PATH NEW WTC     3125808.0  2823868.0  5949676.0
R238  R046 GRD CNTRL-42 ST  1898925.0  3115860.0  5014785.0
R533  R055 FLUSHING-MAIN    2611178.0  2321511.0  4932689.0
R138  R293 34 ST-PENN STA   2373783.0  1894022.0  4267805.0
N324  R018 JKSN HT-ROOSVLT  2314234.0  1729201.0  4043435.0
R221  R170 14 ST-UNION SQ   1873190.0  1930149.0  3803339.0
N506  R022 34 ST-HERALD SQ  1769489.0  1853290.0  3622779.0
PTH03 R552 JOURNAL SQUARE   1716171.0  1767265.0  3483436.0
R240  R047 GRD CNTRL-42 ST  1591622.0  1868745.0  3460367.0
N051  R084 59 ST COLUMBUS   2197822.0  1242870.0  3440692.0

In [31]:
mta[mta['ca'] == 'R533']

,station,turnstile,ca,unit,scp,linename,division,date,time,desc,timestamp,entries,exits,total
1211803,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-00-00,R533,R055,00-00-00,7,IRT,2019-07-13,04:00:00,REGULAR,2019-07-13 04:00:00,32.0,82.0,114.0
1211804,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-00-00,R533,R055,00-00-00,7,IRT,2019-07-13,08:00:00,REGULAR,2019-07-13 08:00:00,134.0,145.0,279.0
1211805,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-00-00,R533,R055,00-00-00,7,IRT,2019-07-13,12:00:00,REGULAR,2019-07-13 12:00:00,359.0,418.0,777.0
1211806,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-00-00,R533,R055,00-00-00,7,IRT,2019-07-13,16:00:00,REGULAR,2019-07-13 16:00:00,382.0,445.0,827.0
1211807,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-00-00,R533,R055,00-00-00,7,IRT,2019-07-13,20:00:00,REGULAR,2019-07-13 20:00:00,343.0,489.0,832.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218598,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-03-07,R533,R055,00-03-07,7,IRT,2019-09-20,04:00:00,REGULAR,2019-09-20 04:00:00,68.0,88.0,156.0
1218599,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-03-07,R533,R055,00-03-07,7,IRT,2019-09-20,08:00:00,REGULAR,2019-09-20 08:00:00,749.0,159.0,908.0
1218600,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-03-07,R533,R055,00-03-07,7,IRT,2019-09-20,12:00:00,REGULAR,2019-09-20 12:00:00,1020.0,320.0,1340.0
1218601,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-03-07,R533,R055,00-03-07,7,IRT,2019-09-20,16:00:00,REGULAR,2019-09-20 16:00:00,786.0,484.0,1270.0
1218602,FLUSHING-MAIN,FLUSHING-MAIN-R533-R055-00-03-07,R533,R055,00-03-07,7,IRT,2019-09-20,20:00:00,REGULAR,2019-09-20 20:00:00,1051.0,679.0,1730.0